/* ------------------- */
/* Custom properties */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  }
  
  @media (min-width: 35em) {
  :root {
  --fs-800: 5rem;
  --fs-700: 2.5rem;
  --fs-600: 1.5rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  }
  }
  
  @media (min-width: 45em) {
  :root {
  /* font-sizes */
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-400: 1.125rem;
  --fs-500: 1.75rem;

  }
  }
  
  
  /* ------------------- */
  /* Reset */
  /* ------------------- */
  
  /* https://piccalil.li/blog/a-modern-css-reset/ */
  
  /* Box sizing */
  *,
  *::before,
  *::after {
  box-sizing: border-box;
  }
  
  /* Reset margins */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  figure,
  picture {
  margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
  font-weight: 400;
  }
  
  /* set up the body */
  body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl( var(--clr-white) );
  background-color: hsl( var(--clr-dark) );
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  }
  
  /* make images easier to work with */
  img,
  picture {
  max-width: 100%;
  display: block;
  }
  
  /* make form elements easier to work with */
  input,
  button,
  textarea,
  select {
  font: inherit;
  }
  
  /* remove animations for people who've turned them off */
  @media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
  }
  }
  
  
  /* ------------------- */
  /* Utility classes */
  /* ------------------- */
  
  /* general */
  
  .flex {
  display: flex;
  gap: var(--gap, 1rem);
  }
  
  .grid {
  display: grid;
  gap: var(--gap, 1rem);
  }
  
  .d-block {
  display: block;
  }
  
  .flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  }
  
  .container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
  }
  
  


  
  .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
  }

  .skip-to-content{
    position:absolute;
    z-index:1000;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: 0.5rem 1rem;
    margin-inline: auto;
    transform: translateY(-100%);
  }

  .skip-to-content:focus{
    transform: translateY(0);
    transition: ease-in-out 0.5s;
  
  }
  
  /* colors */
  
  .bg-dark { background-color: hsl( var(--clr-dark) );}
  .bg-accent { background-color: hsl( var(--clr-light) );}
  .bg-white { background-color: hsl( var(--clr-white) );}
  
  .text-dark { color: hsl( var(--clr-dark) );}
  .text-accent { color: hsl( var(--clr-light) );}
  .text-white { color: hsl( var(--clr-white) );}
  
  /* typography */
  
  .ff-serif { font-family: var(--ff-serif); }
  .ff-sans-cond { font-family: var(--ff-sans-cond); }
  .ff-sans-normal { font-family: var(--ff-sans-normal); }
  
  .letter-spacing-1 { letter-spacing: 4.75px; }
  .letter-spacing-2 { letter-spacing: 2.7px; }
  .letter-spacing-3 { letter-spacing: 2.35px; }
  
  .uppercase { text-transform: uppercase; }
  
  .fs-900 { font-size: var(--fs-900); }
  .fs-800 { font-size: var(--fs-800); }
  .fs-700 { font-size: var(--fs-700); }
  .fs-600 { font-size: var(--fs-600); }
  .fs-500 { font-size: var(--fs-500); }
  .fs-400 { font-size: var(--fs-400); }
  .fs-300 { font-size: var(--fs-300); }
  .fs-200 { font-size: var(--fs-200); }
  
  .fs-900,
  .fs-800,
  .fs-700,
  .fs-600 {
  line-height: 1.1;
  }
  
  .numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
  }
  
  .numbered-title span {
  margin-right: .5em;
  font-weight: 700;
  color: hsl( var(--clr-white) / .25);
  }
  
  
  /* ------------------- */
  /* Compontents */
  /* ------------------- */
  
  .large-button {
  font-size: 2rem;
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  }
  
  .large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl( var(--clr-white) / .1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
  }
  .large-button:hover::after,
  .large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
  }

  /* ------------------- */
  /* Primary Header */
  /* ------------------- */

  .primary-header{
    justify-content:space-between;
    align-items: center;
    
   
  }

   
  .primary-navigation a {
    text-decoration: none;
    }
    
    .primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
    }

  .logo{
    margin:1.5rem clamp(1.5rem, 5vw, 3.5rem);
  }

  .primary-navigation {
    --gap: clamp(2rem,5vw,8rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / 0.95);
    width: 100%;

    }

    .mobile-nav-toggle{
      display: none;
    }

   

    @supports(backdrop-filter: blur(3rem)){
      .primary-navigation {
        backdrop-filter: blur(4rem);
        background: hsl( var(--clr-white) / 0.05);
      }

    }


  @media(max-width: 35rem){
    .primary-navigation {
      --gap: 0.5rem;
      position:fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      --underline-gap: 2rem;
      list-style: none;
      padding: min(20rem, 10vh) 2rem;
      margin: 0;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;
      }

      .primary-navigation.underline-indicators > .active{
        border:0;
      }
      
      .mobile-nav-toggle{
        display:block;
        position: absolute;
        z-index:2000;
        right:2rem;
        top:3.5rem;
        background:transparent;
        border:0;
        background-image: url(../assets/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        width:1.5rem;
        aspect-ratio: 1;
      }

      .primary-navigation.menu-open{
        transform: translateX(0);
        
      }

      .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../assets/shared/icon-close.svg); 

      }

      .mobile-nav-toggle:focus-visible{
        outline: 5px solid hsl( var(--clr-white) / 0.5);
        outline-offset: 5px;
      }


  }

  @media (min-width:35em){
    .primary-navigation{
      padding-inline: clamp(3rem, 7vw, 10rem);
    }
  }
 
  @media (min-width:35em) and (max-width:49.999em){

      .primary-navigation a > span{
        display:none;
      }

  }

  @media(min-width:50em){

    .primary-header::after{
      content:'';
      display:block;
      position:relative;
      width:100%;
      margin-right:-2.5em;
      height:1px;
      background:hsl(var(--clr-white) / 0.25);
      order:1;

    }

    .primary-header .logo{
      order:0;
    }

    nav{
      order:2;
    }
    .primary-navigation {
      margin-block: 0;
    }

    
  }

  
  
 
  
  .underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
  }
  
  .underline-indicators > *:hover,
  .underline-indicators > *:focus {
  border-color: hsl( var(--clr-white) / .5);
  }
  
  .underline-indicators > .active,
  .underline-indicators > [aria-selected="true"] {
  color: hsl( var(--clr-white) / 1);
  border-color: hsl( var(--clr-white) / 1);
  }
  
  .tab-list {
  --gap: 2rem;
  }
  
  
  .dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: .5em;
  background-color: hsl( var(--clr-white) / .25);
  }

  .grid-container--technology > .dot-indicators > *{
    background-color:transparent;
    color:hsl(var(--clr-white) /0.9);
    border: 1px solid hsl(var(--clr-white)/ .25)
  }

  .dot-indicators > *:hover,
  .dot-indicators > *:focus {
  background-color: hsl( var(--clr-white) / .5);
  }
  
  .dot-indicators > [aria-selected="true"] {
  background-color: hsl( var(--clr-white) / 1);
  color: hsl( var(--clr-dark) );
  }

  .grid-container--technology > .dot-indicators > *:hover,
  .grid-container--technology> .dot-indicators > *:focus {
      background-color: hsl( var(--clr-white));
      color: hsl(var(--clr-dark));
    }

 

 





  



  
  /* Navigation */
  
  /* ----------------------------- */
  /* Page specific background */
  /* ----------------------------- */
  .App,.destination-page,.crew-page,.technology-page {
  background-size: cover;
  background-position: bottom center;
  min-height:100vh;
  }

  

  .homepage-grid-container{
    height: 80vh;
  }
  /* home */
  .App {
  background-image: url(../assets/home/background-home-mobile.jpg);
  }
  
  @media (min-width: 35rem) {
  .App {
  background-position: center center;
  background-image: url(../assets/home/background-home-tablet.jpg);
  }
  }
  
  @media (min-width: 50rem) {
  .App {
  background-image: url(../assets/home/background-home-desktop.jpg);
  }
  }

  /* destination */
  .destination-page {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
  }

  @media (min-width: 35rem) {
  .destination-page {
  background-position: center center;
  background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
  }

  @media (min-width: 50rem) {
  .destination-page {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  }
  }
  
  /* crew */

  .crew-page {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
  }

  @media (min-width: 35rem) {
  .crew-page {
  background-position: center center;
  background-image: url(../assets/crew/background-crew-tablet.jpg);
  }
  }


  @media (min-width: 50rem) {
  .crew-page {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
  }

  .crew-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  

  .crew-info   > .crew-role{
    color:hsl( var(--clr-white) / 0.5);
    margin-bottom:0.5rem;
  }

  .crew-info > .crew-member{
    margin-bottom:1rem;
  }

  .crew-info > .crew-member-bio{
    padding-inline: 2rem;
  }

  /* technology */

  .technology-page {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
  }

  @media (min-width: 35rem) {
  .technology-page {
    background-position: center center;
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
  }

  @media (min-width: 50rem) {
  .technology-page {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
  }

  

  /* ----------------------------- */
  /* Layout */
  /* ----------------------------- */

  .grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    
    }
    
    .grid-container > * {
    max-width: 50ch;
    }

    .numbered-title{
      grid-area: title;
    }

    .grid-container--destination,.grid-container--crew,.grid-container--technology{
      --flow-space:2rem;
      grid-template-areas: "title" "image" "tabs" 'content';
      padding-bottom: 2rem;
    }

    .grid-container--technology{
      padding-inline:0;
      min-height: 90vh;
    }

    .grid-container--technology > *:not(picture){
      padding-inline:1rem;
    }

    .grid-container--technology > .technology-info{
      --flow-space:1rem;
    }

  

    

   
   

    .grid-container--destination > img{
      grid-area: image;
      max-width:60%;
      object-fit:cover;
    }

    .grid-container--crew > picture{
      grid-area: image;
      max-width:60%;
      object-fit:cover;
    }

    .crew-info{
      flex-direction: column;
    }

  

    .grid-container--destination > .tab-list{
      grid-area: tabs;
    }

    .grid-container--destination > .destination-info{
      grid-area: content;
    }

    .destination-meta{
      flex-direction:column;
      border-top: 1px solid hsl(var(--clr-white) / 0.25);
      padding-top:2.5rem;
      margin-top:2.5rem;
    }


    .grid-container--technology > .tab-list{
      grid-area: tabs;
    }

    .grid-container--technology > .technology-info{
      grid-area: content;
    }

    .grid-container--technology > picture{
      grid-area: image;
      width:100%;
      grid-column: 1 / -1;
    }

    .grid-container--technology > picture > img{
      max-width:100%;
      object-fit:cover;
    }

    @media (min-width:35em){
      .numbered-title{
        margin-left:0;
        margin-right:auto;
        align-self: start;

      }

      .destination-meta{
        flex-direction: row;
      
      }

      .destination-meta > *{
        flex:1;
      }

      .grid-container--crew{
        grid-template-areas: "title" "content" "tabs" 'image';
        
      }

      .crew-content{
        flex-direction: column-reverse;
      }

      .crew-info{
        flex-direction:column;
      }

      .crew-content > picture{
        max-width: 80%;
      }

      .grid-container--technology > picture{
        max-width:100%;
      }

    }


  @media (min-width: 50em) {
    .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 1rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem))
    minmax(1rem, 1fr);
    }
    .grid-container--home > *:first-child {
    grid-column: 2;
    }
    
    .grid-container--home> *:last-child {
    grid-column: 3;
    }
    .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
    }

    .grid-container--destination {
      min-height: 100vh;
      justify-items: start;
      --flow-space: 2rem;
      grid-template-areas: 
      "title title title title" 
      "image image tabs tabs"
      "image image content content";
      }

    .grid-container--destination > img{
      width: clamp(30rem, 80vw, 80rem);
      margin-left:3.5rem;
      margin-bottom: 15rem;
    }

    .grid-container--destination > .numbered-title{
      margin-left:3.5rem;
    }

    .grid-container--destination > .tab-list{
      margin-bottom:0;
    
  
    }

    .grid-container--crew{
      grid-template-areas: 
      ". title title title" 
      "content content image image"
      "tabs tabs image image";
    }

    .crew-content{
      height:100vh;
    }

    .crew-content > .tab-list{
      align-self: flex-start;
      margin-top: 5rem;
    }

    .crew-details > .crew-member{
      margin-bottom: 1rem;
      margin-top:1rem;
    }

    .crew-details > .crew-role{
      color: hsl( var(--clr-white) / 0.4);
    }
    

    .grid-container--crew > .crew-content{
      grid-column: 2;
    }


    .grid-container > .destinations-info{
      margin-bottom:30rem;

    }

    .destinations-info > *{
      max-width: 100ch;
    }


    .grid-container--technology{
      grid-template-areas: 
      ". title title ." 
      "tabs content image image "
      "tabs content image image";
    }

     .grid-container--technology > .tab-list{
      flex-direction: column;
    }

    .grid-container--technology > picture{
      max-width:100%;
      margin-left:29rem;
      grid-column: 3;
    }
    .grid-container--technology > .technology-info{
      grid-column: 2;

    
    }
  }


    /* ----------------------------- */
    /* Technology */
    /* ----------------------------- */


   